<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Delete</h3>
      </div>
      <div class="modal-body">
          <p> Are you sure you want to DELETE?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger" id="btnDelteYes">Confirm</button>
      </div>
    </div>
  </div>
</div> 

<div class="container">
  <h3>Bookmarks</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><p>Location</p></th>
        <th><p>Date Added</p></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each bookmarks}}
      <tr class="btnDelete" data-id="{{id}}">
        <td><h5>{{name}}</h5></td>
        <td><h5>{{date}}</h5></td>
        <td><a href="#" class="btnDelete btn" data-target="#myModal">Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>  
</div> <!--end of container -->

<script src="/js/delete-bookmarks.js"></script>