<div class="container">
  <h3>Friends</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th><p>Location</p></th>
        <th><p>Last Check-In</p></th>
      </tr>
    </thead>
    <tbody>
      {{#each friends}}
      <tr>
        <td><h5>{{name}}<br/><small>{{topics}}</small></h5></td>
        <td><h5>{{location}}</h5></td>
        <td><h5>{{checkinTime}}</h5></td>
      </tr>
      {{/each}}
    </tbody>
  </table>    
</div>