<div class="container">
  <h3>Friends</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th><p>Location</p></th>
        <th><p>Last Check-In</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>Jamie Yang <br/><small>Interviews, CSE 170</small></h5></td>
        <td><h5>Geisel</h5></td>
        <td><h5>2-5-2015, 5:16pm</h5></td>
      </tr>
      <tr>
        <td><h5>Heather Lee <br/><small>CSE 170, CSE 141</small></h5></td>
        <td><h5>CSE Labs</h5></td>
        <td><h5>2-5-2015, 5:16pm</h5></td>
      </tr>
    </tbody>
  </table>    
</div>