<div class="container">
<h3>Groups I'm In</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><p>Name</p></th>
        <th><p>Current Location</p></th>
        <th><p>Participants</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>CSE 170 Group <br/><small>Study bud app group</small></h5></td>
        <td><h5>Geisel</h5></td>
        <td><h5>Leta He, Jamie Yang</h5></td>
      </tr>
      <tr>
        <td><h5>Math 20F Group <br/><small>Professor Tullsen's class</small></h5></td>
        <td><h5>CSE Labs</h5></td>
        <td><h5>Sheryl Sandberg, Grace Hopper</h5></td>
      </tr>
      <tr>
        <td><h5>Operating Systems <br/><small>I'm lost...</small></h5></td>
        <td><h5>CSE Labs</h5></td>
        <td><h5>Bradley Cooper</h5></td>
      </tr>
    </tbody>
  </table>    
</div>