<!-- Menu items -->
<div id="menu-container" class="container-fluid">
  <div class="menu row-fluid">
    {{#each menu-items}}
    <div class="col-xs-6 col-md-4 menu-item">
      <div>
        <a href="../{{page}}/">
          <img src="/img/{{img}}" class="icon img-responsive" />
          <p>{{name}}</p>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div> 