<!-- Search -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form class="" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search">
                <span class="sr-only">Search...</span>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Menu items -->
<div class="container-fluid">
  <div class="menu row-fluid">
    {{#each menu-items}}
    <div class="col-xs-4 menu-item">
      <a href="../{{page}}/">
        <img src="/img/{{img}}" class="icon img-responsive" />
        <p>{{name}}</p>
      </a>
    </div>
    {{/each}}
  </div>
</div> 