<div id="login-container" class="container vcenter">
  <form class="form-signin" action="/login" id="login" method="post">
    <!-- If there is an error message, render it -->
    {{#if message}}
      <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
      </div>
    {{/if}}
    <div class="transparent">
      <h1 class="title">Study Buddy</h1>
      <h2 class="form-signin-heading">Log In</h2><br />
      <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
      <br />
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br /><br />
      <p align="center">Don't have an account? <a href="/signup">Click here</a> to sign up.</p>
    </div>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript">
  $.backstretch("http://41.media.tumblr.com/845eaf65fe07eaf4f635c012639a0061/tumblr_ni07ojSV3L1u8065mo1_1280.jpg");
</script>