<div class="container">

      <!-- Search -->
      <div id="search-places-row" class="row">
        <div class="col-xs-12">
          <form class="" role="search">
            <div class="input-group">
              <input id="search-places-input" type="text" class="form-control" placeholder="Find a study spot near. . ." disabled>
              <div class="input-group-btn">
                <button id="search-places-enter" type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search">
                    <span class="sr-only">Search...</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Map -->
        <div id="map-canvas" class="col-xs-12 col-md-12"></div>
      </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="/js/nearby-places.js"></script>