<div class="container">
      <!-- Search -->
      <div id="search-place-details-row" class="top-search row">
        <div class="col-xs-12">
          <form class="" role="search">
            <div class="input-group">
              <input id="search-place-details-input" type="text" class="form-control" placeholder="Learn more about . . .">
              <div class="input-group-btn">
                <button id="search-place-details-enter" type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-search">
                    <span class="sr-only">Search...</span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Place details -->
      <div id="place-details" class="row">
          <!-- Info -->
          <div class="place-details-inner col-xs-12 col-md-7">
            <h3>Geisel Library, UCSD</h3>
            <div id="hours-day-labels" class="col-xs-1 col-md-1">
              <h6>M</h6>
              <h6>T</h6>
              <h6>W</h6>
              <h6>Th</h6>
              <h6>F</h6>
              <h6>S</h6>
              <h6>Su</h6>
            </div>
            <div id="hours-times" class="col-xs-5 col-md-5">
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
              <h6>10:00am-6:00pm</h6>
            </div>
            <div id="amenity-labels" class="col-xs-3 col-md-2">
              <h6>Wi-Fi</h6>
              <h6>Outlets</h6>
              <h6>Yelp</h6>
              <h6>Bathrooms</h6>
              <h6>Coffee</h6>
              <h6>Food</h6>
            </div>
            <div id="amenity-rating" class="col-xs-2 col-md-2">
              <h6>yes</h6>
              <h6>no</h6>
              <h6>yes</h6>
              <h6>yes</h6>
              <h6>yes</h6>
              <h6>no</h6>
            </div>
          </div>

          <!-- Map -->
          <div id="place-details-map" class="place-details-inner col-xs-12 col-md-5">
              <iframe id="place-details-map-iframe" width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Geisel%20Library%2C%20Gilman%20Drive%2C%20La%20Jolla%2C%20CA%2C%20United%20States&key=AIzaSyDQRjMnj-tHPC2FnAE8xhQ-HyoiUHeYQdQ"></iframe>
          </div>

      </div>
      <!-- End of place details -->
</div>