<div class="container">
<h3>Recent Places</h3>
<table class="table">
        <thead>
          <tr>
            <th><p>Location</p></th>
            <th><p>Last Check-In</p></th>
          </tr>
        </thead>
        <tbody>
          {{#each locations}}
          <tr>
            <td><h5>{{name}}</h5></td>
            <td><h5>{{checkinTime}}</h5></td>
          </tr>
          {{/each}}
        </tbody>
      </table>    

</div>