<div class="container">
<h3>Recent Places</h3>
<table class="table">
        <thead>
          <tr>
            <th><h4>Location</h4></th>
            <th><h4>Last Check-In</h4></th>
          </tr>
        </thead>
        <tbody>
          {{#each locations}}
          <tr>
            <td>{{location}}</td>
            <td>{{currentTime}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>    

</div>