<div class="container">
<!-- <h3>Recent Spots</h3> -->

<!-- Place details modal -->
<div id="place-detail-overlay" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header row">
          <h3 class="modal-title col-xs-9" id="place-details-name-overlay"></h3>
          <button type="button" class="btn btn-default col-xs-3" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">

            <!-- Place details -->
            <div id="place-details-overlay" class="row" style="display:none">
                <!-- Info -->
                <div class="place-details-inner col-xs-12 col-md-8">
                  <div id="hours-day-labels-overlay" class="col-xs-1 col-md-1">
                    <h6>M</h6>
                    <h6>T</h6>
                    <h6>W</h6>
                    <h6>Th</h6>
                    <h6>F</h6>
                    <h6>S</h6>
                    <h6>Su</h6>
                  </div>
                  <div id="hours-times-overlay" class="col-xs-5 col-md-6">
                    <h6 id="hours-times-m-overlay"></h6>
                    <h6 id="hours-times-t-overlay"></h6>
                    <h6 id="hours-times-w-overlay"></h6>
                    <h6 id="hours-times-th-overlay"></h6>
                    <h6 id="hours-times-f-overlay"></h6>
                    <h6 id="hours-times-s-overlay"></h6>
                    <h6 id="hours-times-su-overlay"></h6>
                  </div>
                  <div id="amenity-labels-overlay" class="col-xs-3 col-md-3">
                    <h6>Wi-Fi</h6>
                    <h6>Outlets</h6>
                    <h6>Coffee</h6>
                    <h6>Food</h6>
                  </div>
                  <div id="amenity-val-overlay" class="col-xs-1 col-md-1">
                    <h6 id="amenity-val-wifi-overlay"></h6>
                    <h6 id="amenity-val-outlets-overlay"></h6>
                    <h6 id="amenity-val-coffee-overlay"></h6>
                    <h6 id="amenity-val-food-overlay"></h6>
                  </div>
                </div>

                <!-- Map -->
                <div id="place-details-map-overlay" class="place-details-inner col-xs-12 col-md-4">
                    <iframe id="place-details-map-iframe-overlay" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                </div>

            </div>
            <!-- End of place details -->

        </div>
    </div>
  </div>
</div>
<!-- End of modal -->

<!--modal for adding bookmarks -->
<div id="bookmarkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Bookmark</h3>
      </div>
      <div class="modal-body">
          <p> Are you sure you want to bookmark <strong><span id="location"></span></strong>?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary" id="btnAdd">Confirm</button>
      </div>
    </div>
  </div>
</div> 
<!-- End of modal -->

<!--modal for warning already existed bookmark -->
<div id="bookmarkExisted" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Oops</h3>
      </div>
      <div class="modal-body">
          <p> You have already added this bookmark!</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<!-- End of modal -->

{{#if locations}}
<table class="table">
        <thead>
          <tr>
            <th><h4>Location</h4></th>
            <th><h4>Last Check-In</h4></th>
            <th data-sortable="false"></th>
          </tr>
        </thead>
        <tbody>
          {{#each locations}}
          <tr class="btnMark" data-id="{{location}}">
            <td><strong><a class="placeName" href="#" data-toggle='modal' data-target="#place-detail-overlay">{{location}}</a></strong></td>
            <td>{{currentTime}}</td>
            <td><a href="#" class="btnMark btn" data-target="#bookmarkModal">Bookmark</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>    
{{else}}
    <br />
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">You have not checked in anywhere before.</h3>
    </div>
    <div class="panel-body">
      Your recent check ins will appear on this page. <br />
      If you would like to check in, <a href="/checkin">click here</a>.
    </div>
  </div>
{{/if}}
</div>

<script src="/js/show-fav-place-details.js"></script>