<div class="container">
  <form class="form-signin" action="/local-reg" id="local-reg" method="post">
    <!-- If there is an error message, render it -->
    {{#if message}}
      <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{message}}
      </div>
    {{/if}}
    <div class="transparent">
      <h2 class="form-signin-heading">Sign Up</h2><br />
      <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
      <br />
      <input type="displayname" name="displayname" class="form-control" placeholder="Display Name" required>
      <br />
      <input type="email" name="email" class="form-control" placeholder="E-mail" required>
      <br />
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <br />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </div>
  </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script type="text/javascript">
  $.backstretch("https://secure.static.tumblr.com/35f17ee4ff72e95a45dae698812a04ba/9xjwtbs/GUun8jczm/tumblr_static_d4rmu5k4odckwgkc0g4kgskos_1280_v2.png");
</script>