/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .icon {
    	max-width: 60px;	

    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.icon {
		max-width: 30%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.icon {
		max-width: 100px;
	}
}

body {
	font-family: 'Lato', sans-serif;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.menu {
	min-height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.col-xs-6 {
	padding-top: 20px;
}

.spacing {
	height: 10px;
}

.icon {
	/*max-width: 100px;*/
	padding-bottom: 15px;
	display: block;
	margin: auto;
}

.menu-item {
	display: inline-block;
	margin-bottom: 35px;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

h3 {
	font-family: 'Lato', sans-serif;
}

td > h5 {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
}

td > h5 > small {
	font-size: 9pt;
}