/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .icon {
    	max-width: 60px;	

    }

    .addIcon {
    	max-width: 40px;	

    }

    #place-details h6 {
		font-size: 80%;
	}

    #place-details-overlay h6 {
        font-size: 50%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.icon {
		max-width: 30%;
	}

	.addIcon {
		max-width: 50px;
	}

	#place-details h6 {
		font-size: 90%;
	}

    #place-details-overlay h6 {
        font-size: 90%;
    }    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.icon {
		max-width: 100px;
	}

	.addIcon {
		max-width: 50px;
	}

	#place-details h6 {
		font-size: 100%;
	}

    #place-details-overlay h6 {
        font-size: 100%;
    }
}

@media only screen and (min-width: 992px) {
    #place-details-map {
        margin-top: 5%;
    }

    #place-details-map-overlay {
        margin-top: 10%;
    }
}

body {
	font-family: 'Lato', sans-serif;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.menu {
	min-height: 50px;
/*	padding-top: 3%;
	padding-bottom: 15px;*/
}

.spacing {
	height: 10px;
}

.icon {
	/*max-width: 100px;*/
	padding-bottom: 15px;
	display: block;
	margin: auto;
}

.addIcon {
	margin-bottom:10px;  
	display: block;
	margin: right;
}

.menu-item {
	display: inline-block;
	margin-bottom: 30px;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

#menu-container {
	padding: 5% 5% 0px 5%;  /*top right bottom left*/
}

h3 {
	font-family: 'Lato', sans-serif;
}

td > h5 {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
}

td > h5 > small {
	font-size: 9pt;
}

#map-canvas { 
	/*height: 100%;*/
	min-height: 480px;
	min-width: 300px; 
	/*margin: 0; */
	margin-top: 10px;
}

#map-canvas h1 {
	font-size: 16px;
}

#map-canvas h2 {
	font-size: 14px;
	font-weight: 300;
}

#results-panels {
	margin-top: 15px;

}

.form-signin {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}

.top-search {
	margin-top: 3%;
}

#place-details {
	margin-top: 3%;
}

#place-details-map {
	text-align: center;
}

/*.place-details-inner {
	border: 2px solid black;
}*/

/*#place-details-map-iframe {
	width: 460px;
}*/


/* For the checkin page 
 */
#checkin {
	padding-left: 30px;
	padding-right: 30px;
}

.optional {
	color: #888888;
}


.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
	font-family: 'Lato', sans-serif;
    /*width: 396px;*/
    /*width: 100%;*/
    /*height: 30px;*/
    padding: 8px 12px;
    font-size: 14px;
    /*line-height: 30px;*/
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
	font-family: 'Lato', sans-serif;
    /*width: 422px;*/
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	font-family: 'Lato', sans-serif;
    padding: 3px 20px;
    font-size: 14px;
    /*line-height: 24px;*/
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead { 
    width: 100%; 
    margin: 0;
}

#search-place-details-input {
    float: none;
}

#place-not-found,
#place-details-not-found {
    display: none;
    font-style: italic;
    color: red;
}